* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arcade Regular'; 
  src: url('fonts/Arcade Regular.TTF'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278976/Arcade_Regular_uvchxs.TTF'); 
}
@font-face {
  font-family: 'digital'; 
  src: url('fonts/digital-7.ttf'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278975/digital-7_etj6il.ttf'); 
}
@font-face {
  font-family: 'square_sans_serif'; 
  src: url('fonts/square_sans_serif_7.ttf'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278975/square_sans_serif_7_qavwf9.ttf'); 
}
@font-face {
  font-family: 'dollar'; 
  src: url('fonts/dollar.ttf'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278975/dollar_bro8o0.ttf'); 
}

html {
  height: 100%;
  width: 100%;
  font-family: "Arcade Regular", cursive;
  font-size: 20px;
}

body {
  font-size: clamp(0.5em, 3vw, 0.95em) ;
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-img {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.container {
  max-width: 600px; 
  width: 90%; 
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container h2 {
  color: #222;
  margin: 0.5em auto;
  font-size: 2.5em;
}

#price {
  font-family: "dollar";
  width: 80%;
  margin-bottom: 20px;
  color: #222;
  font-size: 1.3em;
}

.input-text {
  font-size: 1.4em; 
}

input {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 10px;
  border: 2px solid rgb(69, 69, 69);
  outline: none;
  color: rgb(69, 69, 69);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "digital", cursive;
  font-size: 2em;
  margin-bottom: 10px;
  border-radius: 5px;
}

input:focus {
  border-color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#purchase-btn {
  padding: 10px 20px;
  font-family: "Arcade Regular", cursive;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 20px;
  background-color: rgba(29, 29, 29, 0.7);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#purchase-btn:hover {
  background-color: rgba(29, 29, 29, 0.9);
}

#purchase-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#drawer , #change-due{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
  flex: 1;
  width: 40%;
  font-size: 1em;
  margin: 20px 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#drawer p, #change-due p {
  width: 100%;
  text-align: left;
  font-family: 'dollar';
  font-weight: 100;
  margin: 5px 0px;
  color: rgb(85, 84, 84);
}


#drawer .black, #change-due .black{
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Arcade Regular';
  font-weight: 900;
  font-size: 1.2em;
  color: #222;
}

.cash {
  font-size: 0.8em;
}


@media screen and (max-width: 490px) {

  #drawer, #change-due { 
    margin: 10px;
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  #drawer .black, #change-due .black {
    margin-bottom: 10px;
  }

}